<!-- <div class="container"> -->

<div class="gamebox">

	<div class="popup" id="start">Welcome to Tic-Sack-Toe
		<div class="clear"></div>
	</div>
{{name}}
	<div class="popup" id="win">
		<div class="clear"></div>
		<div id="buttons">
			 <input class="buttons" type="button" id="btn1" value="Start Over" onclick="startPlayAgain()" />
			<input class="buttons" type="button" id="btn2" value="Give Up" onclick="navExit()" />
		</div>
	</div>

	<div class="popup" id="lose">You lose(r)
		<div class="clear"></div>
		<div id="buttons">
			 <input class="buttons" type="button" id="btn1" value="Start Over" onclick="startPlayAgain()" />	
			<input class="buttons" type="button" id="btn2" value="Give Up" onclick="navExit()" />
		</div>
	</div>

	<div class="popup" id="tie">The game is a tie
		<div class="clear"></div>
		<div id="buttons">
			 <input class="buttons" type="button" id="btn1" value="Start Over" onclick="startPlayAgain()" />
			<input class="buttons" type="button" id="btn2" value="Give Up" onclick="navExit()" />
		</div>
	</div>

	<div class="row1">
		<div class="sqr" id="sqr1" onclick="playBox()"></div>
		<div class="sqr" id="sqr2" onclick="playBox()"></div>
		<div class="sqr" id="sqr3" onclick="playBox()"></div>
		<div class="clear"></div>
		</div>

	<div class="row2">
		<div class="sqr" id="sqr4" onclick="playBox()"></div>
		<div class="sqr" id="sqr5" onclick="playBox()"></div>
		<div class="sqr" id="sqr6" onclick="playBox()"></div>
		<div class="clear"></div>
	</div>

	<div class="row3">
		<div class="sqr" id="sqr7" onclick="playBox()"></div>
		<div class="sqr" id="sqr8" onclick="playBox()"></div>
		<div class="sqr" id="sqr9" onclick="playBox()"></div>
		<div class="clear"></div>
	</div>

		<div id="buttons">
			<input class="buttons" type="button" id="btn1" value="Reset" onclick="startPlayAgain()" />
			<input class="buttons" type="button" id="btn2" value="Exit" onclick="navExit()" />
		</div>
</div>
<!-- </div> -->
	<script type="text/javascript">
	//	doLoop();

	</script>